.grid-container {
    height: 840px;
    width: 840px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    background-color: white;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgb(44, 235, 248);
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

button {
    padding: 40px;
    font-size: 4rem;
}

.active {
    background-color: rgb(20, 241, 0);
}